cookiecutter==1.7.2
einops==0.3.2
emoji==1.7.0
huggingface_hub==0.4.0
hydra-core==1.2.0
mxnet
numpy
opencv_python_headless==4.5.3.56
pandas==1.4.1
Pillow==9.1.1
positional_encodings==5.0.0
nvidia-pyindex
scikit_learn==1.1.1
scipy==1.8.0
sentencepiece==0.1.96
setuptools==58.0.4
spacy==3.3.0
tensorboardX
tensorflow
tensorflow_hub==0.12.0
tensorflow_probability==0.16.0
torch==1.11.0
torchaudio==0.11.0
torchvision==0.12.0
tqdm==4.63.1
wget==3.2
